html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 200px auto;
  grid-template-areas: "header header" "sidebar content";
}

header {
  grid-area: header;
  background-color: #0a254e;
  box-shadow: 1px 0px 3px 1px black;
  z-index: 5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header h2 {
  font-size: 2rem;
  padding-left: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0px;
  color: white;
  box-sizing: border-box;
}

nav {
  grid-area: sidebar;
  background-color: #0a254e;
}
nav ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
}
nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #0c2e61;
  border: 1px solid #091f42;
  border-radius: 5px;
}
nav li.selected {
  background-color: #0f3773;
}
nav a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 15px;
}
nav .selected a {
  color: white;
  text-decoration: underline;
}
nav li.inactive a {
  color: #b3b3b3;
  cursor: not-allowed;
}
nav li:not(.inactive):not(.selected):hover {
  background-color: #0e326a;
}
nav li:not(.inactive):not(.selected):hover a {
  text-decoration: underline dotted;
}

main {
  padding: 15px;
}

#error {
  background-color: #cf0000;
  color: white;
  border-color: #900;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

main {
  overflow: auto;
  grid-area: content;
}

main#input textarea {
  width: 100%;
  height: calc(100% - 66.4px - 75px - 51.1667px);
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  box-shadow: 0 0 1px 1px inset #555;
}
main#input a {
  text-decoration: none;
  display: inline-block;
  background-color: #0a254e;
  color: white;
  padding: 10px;
  border: 1px solid #0a254e;
  float: right;
  margin: 15px;
  margin-right: 0px;
  border-radius: 5px;
  border: 1px solid #091f42;
}
main#input a:hover {
  text-decoration: underline;
}

main#ipsettings .ipoption {
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 15px;
}
main#ipsettings .settingheader {
  display: grid;
  grid-template-columns: 1fr min-content;
}
main#ipsettings .settingheader h3 {
  margin-top: 10px;
}
main#ipsettings .button-box {
  justify-self: end;
}
main#ipsettings .selected .button-box a {
  color: #b3b3b3;
  cursor: not-allowed;
  content: "Selected";
}
main#ipsettings .button-box a {
  text-decoration: none;
  display: inline-block;
  background-color: #0a254e;
  color: white;
  padding: 10px;
  border: 1px solid #0a254e;
  float: right;
  border-radius: 5px;
  border: 1px solid #091f42;
}
main#ipsettings .ipoption:not(.selected) .button-box a:hover {
  text-decoration: underline;
}
main#ipsettings .form {
  display: grid;
  grid-template-columns: 200px 1fr;
}

main#teams {
  width: 100%;
  max-width: 1000px;
}
main#teams .red-white-team-list > div,
main#teams .blue-team-list > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #900;
}
main#teams .red-white-team-list > div h2,
main#teams .blue-team-list > div h2 {
  margin: 0;
  align-self: center;
}
main#teams .red-white-team-list > div .form-submit,
main#teams .blue-team-list > div .form-submit {
  justify-self: end;
}
main#teams .red-white-team-list > div a,
main#teams .blue-team-list > div a {
  text-decoration: none;
  display: inline-block;
  background-color: #0a254e;
  color: white;
  padding: 10px;
  border: 1px solid #0a254e;
  border-radius: 5px;
  border: 1px solid #091f42;
}
main#teams ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main#teams li {
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
}
main#teams .blue-team-editor,
main#teams .red-team-editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main#teams .blue-team-editor .form-row,
main#teams .red-team-editor .form-row {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main#teams .blue-team-editor input,
main#teams .red-team-editor input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0.125em 0.25em;
  margin: 0;
  border-radius: 0.25em;
}
main#teams .blue-team-editor .user-editor-list,
main#teams .red-team-editor .user-editor-list {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
}
main#teams .blue-team-editor .border,
main#teams .red-team-editor .border {
  border: 1px solid black;
}
main#teams .blue-team-editor .user-editor,
main#teams .red-team-editor .user-editor {
  border-bottom: 1px solid black;
}
main#teams .blue-team-editor .user-editor:last-of-type,
main#teams .red-team-editor .user-editor:last-of-type {
  border-bottom: none;
}
main#teams .red-team-editor select {
  appearance: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  background-color: #fff;
  line-height: 1.1;
  background-image: linear-gradient(to top, rgba(249, 249, 249, 0.9764705882), #fff 33%);
}

main#output {
  padding: 15px;
}
main#output pre {
  width: 100%;
  height: calc(100% - 30px);
  margin: 0px;
  overflow: auto;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  box-shadow: 0 0 1px 1px inset #555;
}

main#machines {
  padding: 0;
  padding-top: 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "service-list-header machine-list-header" "service-list machine-list";
}
main#machines .service-list {
  grid-area: service-list;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  border-right: 1px solid #071833;
}
main#machines .new-service {
  color: white;
  border: 1px solid #081c3b;
  background: #0f3773;
  border-radius: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 15px;
  transition: transform 0.15s ease;
}
main#machines .new-service h3 {
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #630000;
}
main#machines .new-service h4 {
  margin: 2px 0;
  margin-top: 5px;
  border-bottom: 1px solid #630000;
}
main#machines .new-service .service-environment .service-property {
  padding-left: 5px;
}
main#machines .new-service:hover {
  transform: scale(1.05);
}
main#machines .new-service.hidden {
  display: none;
}
main#machines .machine-list-header {
  padding-top: 15px;
  padding-left: 15px;
  grid-area: machine-list-header;
  box-sizing: border-box;
  border-bottom: 1px solid #630000;
}
main#machines .service-list-header {
  padding: 15px;
  grid-area: service-list-header;
  box-sizing: border-box;
  border-bottom: 1px solid #630000;
  border-right: 1px solid #630000;
  display: grid;
}
main#machines .service-list-header input {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main#machines .machine-list {
  grid-area: machine-list;
  overflow: auto;
  padding-bottom: 15px;
}
main#machines .machine {
  padding: 15px;
  box-sizing: border-box;
  margin: 15px;
  margin-bottom: 15px;
  border: 1px solid #081c3b;
  border-radius: 15px;
  background: #0f3773;
}
main#machines .machine-error {
  background-color: #cf0000;
  color: white;
  border-color: #900;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
main#machines .machine.hovering {
  background: #900;
}
main#machines .machine-body {
  grid-template-areas: "machine-properties machine-services";
}
main#machines .machine-header {
  display: grid;
  grid-template-columns: 1fr 150px;
  padding: 15px;
  box-sizing: border-box;
  margin: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #630000;
}
main#machines .machine-header h3 {
  color: white;
  cursor: text;
  grid-column: 1/2;
  margin: 0;
  align-self: center;
}
main#machines .machine-header .machine-name {
  display: grid;
  grid-column: 1/2;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  align-self: center;
}
main#machines .machine-header input {
  display: inline-block;
  width: 100%;
}
main#machines .machine-header a {
  justify-self: end;
  align-self: start;
  display: inline-block;
  grid-column: 2/3;
  text-decoration: none;
  background-color: #0a254e;
  color: white;
  padding: 10px;
  border: 1px solid #0a254e;
  border-radius: 5px;
  border: 1px solid #091f42;
}
main#machines .machine-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0;
  marign: 0;
}
main#machines .machine-properties {
  margin: 15px 0;
  padding: 0 15px;
  border-right: 1px solid #630000;
  box-sizing: border-box;
}
main#machines .machine-property {
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 10px 0;
  box-sizing: border-box;
}
main#machines .machine-property.hidden {
  display: none;
}
main#machines .machine-property input {
  width: 100%;
  box-sizing: border-box;
}
main#machines .machine-services {
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
}
