@use "sass:color";

$blue: #0a254e;
$red: #900;

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
  font-family: "Fira Code", sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Fira Code VF", sans-serif;
  }
}

header {
  grid-area: header;
  background-color: $blue;
  box-shadow: 1px 0px 3px 1px black;
  z-index: 5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  h2 {
    font-size: 2rem;
    padding-left: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px;
    color: white;
    box-sizing: border-box;
  }
}

nav {
  grid-area: sidebar;
  background-color: $blue;

  ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
  }

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: color.scale($blue, $lightness: +5%);
    border: 1px solid color.scale($blue, $lightness: -15%);
    border-radius: 5px;
  }

  li.selected {
    background-color: color.scale($blue, $lightness: +10%);
  }

  a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 15px;
  }

  .selected a {
    color: white;
    text-decoration: underline;
  }

  li.inactive a {
    color: color.scale(white, $lightness: -30%);
    cursor: not-allowed;
  }

  li:not(.inactive):not(.selected):hover {
    background-color: color.scale($blue, $lightness: +7.5%);

    a {
      text-decoration: underline dotted;
    }
  }
}

main {
  padding: 15px;
}

#error {
  background-color: color.scale($red, $lightness: +15%);
  color: white;
  border-color: $red;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

main {
  overflow: auto;
  grid-area: content;
}

main#input {
  .new-config-row {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;

    .button {
      margin: 0px;
      margin-right: 10px;
    }

    input {
      padding: 10px;
      flex-grow: 1;
    }

    margin-bottom: 10px;
  }

  .configs {
    padding: 10px;
    border: 1px solid black;

    i {
      display: inline-block;
      margin: 10px auto;
      width: 100%;
      text-align: center;
    }
  }

  .config-row {
    border: 1px solid $blue;
    margin-bottom: 10px;
    padding: 10px;

    &.selected {
      border: 2px solid $red;
    }
  }
  .config-name {
    border-bottom: 1px solid $blue;
    padding: 10px;
    margin-bottom: 10px;
  }

  .config-row.selected .config-name {
    font-weight: bold;
  }

  .config-details {
    display: flex;
    flex-wrap: wrap;
  }

  .config-buttons a {
    float: right;
  }

  .config-details div {
    min-width: 340px;
    flex-grow: 1;
  }

  .button {
    text-decoration: none;
    display: inline-block;
    background-color: $blue;
    color: white;
    padding: 10px;
    border: 1px solid $blue;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid color.scale($blue, $lightness: -15%);

    &:hover {
      text-decoration: underline;
    }

    &.disabled {
      color: gray;
      cursor: not-allowed;
    }
  }

  textarea {
    width: 100%;
    height: calc(100% - 66.4px - 75px - 51.1667px);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    box-shadow: 0 0 1px 1px inset #555;
  }
}

main#ipsettings {
  .ipoption {
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 15px;
  }

  .settingheader {
    display: grid;
    grid-template-columns: 1fr min-content;

    & h3 {
      margin-top: 10px;
    }
  }

  .button-box {
    justify-self: end;
  }

  .selected .button-box a {
    color: color.scale(white, $lightness: -30%);
    cursor: not-allowed;
    content: "Selected";
  }

  .button-box a {
    text-decoration: none;
    display: inline-block;
    background-color: $blue;
    color: white;
    padding: 10px;
    border: 1px solid $blue;
    float: right;
    border-radius: 5px;
    border: 1px solid color.scale($blue, $lightness: -15%);
  }

  .ipoption:not(.selected) .button-box a:hover {
    text-decoration: underline;
  }

  .form {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

main#teams {
  width: 100%;
  max-width: 1000px;

  .red-white-team-list > div,
  .blue-team-list > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $red;

    h2 {
      margin: 0;
      align-self: center;
    }

    .form-submit {
      justify-self: end;
    }

    a {
      text-decoration: none;
      display: inline-block;
      background-color: $blue;
      color: white;
      padding: 10px;
      border: 1px solid $blue;
      border-radius: 5px;
      border: 1px solid color.scale($blue, $lightness: -15%);
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
  }

  .blue-team-editor,
  .red-team-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .form-row {
      box-sizing: border-box;
      padding: 10px;
      margin: 5px;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid black;
      padding: 0.125em 0.25em;
      margin: 0;
      border-radius: 0.25em;
    }

    .user-editor-list {
      box-sizing: border-box;
      padding: 10px;
      margin: 5px;
    }

    .border {
      border: 1px solid black;
    }

    .user-editor {
      border-bottom: 1px solid black;
    }

    .user-editor:last-of-type {
      border-bottom: none;
    }
  }

  .red-team-editor select {
    appearance: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
    line-height: 1.1;
    background-image: linear-gradient(to top, #f9f9f9f9, #fff 33%);
  }
}

main#output {
  padding: 15px;

  pre {
    width: 100%;
    height: calc(100% - 30px);
    margin: 0px;
    overflow: auto;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    box-shadow: 0 0 1px 1px inset #555;
  }
}

main#machines {
  padding: 0;
  padding-top: 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "service-list-header machine-list-header"
    "service-list machine-list";

  .service-list {
    grid-area: service-list;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
    // background: color.scale($red, $lightness: -10%);
    border-right: 1px solid color.scale($blue, $lightness: -35%);
  }

  .new-service {
    color: white;
    border: 1px solid color.scale($blue, $lightness: -25%);
    background: color.scale($blue, $lightness: +10%);
    box-shadow: 0px 1px 3px 1px black;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 15px;
    transition: transform 0.15s ease;
    cursor: move;

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      border-bottom: 1px solid color.scale($red, $lightness: -35%);
    }

    h4 {
      margin: 2px 0;
      margin-top: 5px;
      border-bottom: 1px solid color.scale($red, $lightness: -35%);
    }

    .service-environment .new-service-property {
      padding-left: 5px;
    }

    &:hover {
      transform: scale(1.05);
    }

    &.hidden {
      display: none;
    }
  }

  .machine-list-header {
    padding-top: 15px;
    padding-left: 15px;
    grid-area: machine-list-header;
    box-sizing: border-box;
    border-bottom: 1px solid color.scale($red, $lightness: -35%);
  }

  .service-list-header {
    padding: 15px;
    grid-area: service-list-header;
    box-sizing: border-box;
    border-bottom: 1px solid color.scale($red, $lightness: -35%);
    border-right: 1px solid color.scale($red, $lightness: -35%);
    display: grid;
  }

  .service-list-header input {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .machine-list {
    grid-area: machine-list;
    overflow: auto;
    padding-bottom: 15px;
  }

  .machine {
    padding: 15px;
    box-sizing: border-box;
    margin: 15px;
    margin-bottom: 15px;
    border: 1px solid color.scale($blue, $lightness: -25%);
    box-shadow: 0px 1px 3px 1px black;
    background: color.scale($blue, $lightness: +10%);
  }

  .machine-error {
    background-color: color.scale($red, $lightness: +15%);
    color: white;
    border-color: $red;
    padding: 10px;
    margin: 0px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .machine.hovering {
    background: $red;
  }

  .machine-body {
    grid-template-areas: "machine-properties machine-services";
  }

  .machine-header {
    display: grid;
    grid-template-columns: 1fr 150px;
    padding: 15px;
    box-sizing: border-box;
    margin: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid color.scale($red, $lightness: -35%);
  }

  .machine-header h3 {
    color: white;
    cursor: text;
    grid-column: 1 / 2;
    margin: 0;
    align-self: center;
  }

  .machine-header .machine-name {
    display: grid;
    grid-column: 1 / 2;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    align-self: center;
  }

  .machine-header input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .machine-header a {
    justify-self: end;
    align-self: start;
    display: inline-block;
    grid-column: 2 / 3;
    text-decoration: none;
    background-color: $blue;
    color: white;
    padding: 10px;
    border: 1px solid $blue;
    border-radius: 5px;
    border: 1px solid color.scale($blue, $lightness: -15%);

    &:hover {
      text-decoration: underline;
    }
  }

  .machine-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    marign: 0;
  }

  .machine-properties {
    margin: 15px 0;
    padding: 0 15px;
    border-right: 1px solid color.scale($red, $lightness: -35%);
    box-sizing: border-box;
  }

  .machine-property {
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .machine-property.hidden {
    display: none;
  }

  .machine-property input {
    width: 100%;
    box-sizing: border-box;
  }

  .machine-services {
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
  }

  .machine-service {
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid color.scale($blue, $lightness: -15%);
    background: color.scale($blue, $lightness: +15%);
    box-shadow: 0px 1px 3px 0px black;

    .error {
      background-color: color.scale($red, $lightness: +15%);
      color: white;
      border-color: $red;
      padding: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  .machine-service-header {
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-bottom: 1px solid color.scale($red, $lightness: -35%);

    h3 {
      color: white;
      grid-column: 1 / 2;
      margin: 0;
      align-self: center;
    }

    a {
      text-decoration: none;
      display: inline-block;
      background-color: $blue;
      color: white;
      align-self: center;
      justify-self: end;
      padding: 10px;
      border: 1px solid $blue;
      margin: 0px;
      float: right;
      border-radius: 5px;
      border: 1px solid color.scale($blue, $lightness: -15%);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .machine-service-properties {
  }

  .service-properties-pane {
    padding: 15px;
    border-top: 1px solid color.scale($red, $lightness: -35%);
    box-sizing: border-box;
  }

  .service-properties-pane.hidden {
    display: none;
  }

  .service-properties-tabs {
    margin: 0;
    margin-top: 10px;
  }

  .service-properties-tab {
    display: inline-block;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0;
    margin-right: 10px;
    padding: 7px;
    color: white;
    box-sizing: border-box;
    background: $blue;
    border: 1px solid color.scale($blue, $lightness: -15%);
    cursor: pointer;
    border-bottom: none;

    &:hover {
      text-decoration: underline dotted;
    }

    &.hidden {
      display: none;
    }
  }

  .service-properties-tab.selected {
    background: color.scale($blue, $lightness: +15%);
    text-decoration: underline;
  }

  .service-property {
    display: grid;
    padding-bottom: 15px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;

    .service-property-name {
      color: white;
    }

    .service-property-value input {
    }
  }

  .service-properties-pane .add-user {
    text-decoration: none;
    display: inline-block;
    background-color: $blue;
    color: white;
    align-self: center;
    justify-self: end;
    padding: 10px;
    border: 1px solid $blue;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid color.scale($blue, $lightness: -15%);

    &:hover {
      text-decoration: underline;
    }
  }

  .service-user {
    border-top: 1px solid color.scale($red, $lightness: -35%);
    padding-top: 15px;
  }

  .service-user-row {
    display: grid;
    padding-bottom: 15px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;

    div:nth-of-type(1) {
      color: white;
    }

    div:nth-of-type(2) {
    }

    a {
      text-decoration: none;
      display: inline-block;
      background-color: $blue;
      color: white;
      align-self: center;
      justify-self: start;
      padding: 10px;
      border: 1px solid $blue;
      margin: 0px;
      border-radius: 5px;
      border: 1px solid color.scale($blue, $lightness: -15%);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service-properties-pane .add-service {
    text-decoration: none;
    display: inline-block;
    background-color: $blue;
    color: white;
    align-self: center;
    justify-self: end;
    padding: 10px;
    border: 1px solid $blue;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid color.scale($blue, $lightness: -15%);

    &:hover {
      text-decoration: underline;
    }
  }

  .service-check {
    border-top: 1px solid color.scale($red, $lightness: -35%);
    padding-top: 15px;
  }

  .service-check-row {
    display: grid;
    padding-bottom: 15px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;

    div:nth-of-type(1) {
      color: white;
    }

    div:nth-of-type(2) {
    }

    a {
      text-decoration: none;
      display: inline-block;
      background-color: $blue;
      color: white;
      align-self: center;
      justify-self: start;
      padding: 10px;
      border: 1px solid $blue;
      margin: 0px;
      border-radius: 5px;
      border: 1px solid color.scale($blue, $lightness: -15%);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
