@use "sass:color";

$blue: #0A254E;
$red: #900;

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-columns: 200px auto;
    grid-template-areas:
        "header header"
        "sidebar content"
}

header {
    grid-area: header;
    background-color: $blue;
    box-shadow: 1px 0px 3px 1px black;
    z-index: 5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    h2 {
        font-size: 2rem;
        padding-left: 25px;
        padding-top: 1rem;;
        padding-bottom: 1rem;
        margin: 0px;
        color: white;
        box-sizing: border-box;
    }
}

nav {
    grid-area: sidebar;
    background-color: $blue;

    ul {
        list-style-type: none;
        padding: 15px;
        margin: 0;
        box-sizing: border-box;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: color.scale($blue, $lightness: +5%);
        border: 1px solid color.scale($blue, $lightness: -15%);
        border-radius: 5px;
    }

    li.selected {
        background-color: color.scale($blue, $lightness: +10%);
    }

    a {
        color: white;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        padding: 15px;
    }

    .selected a {
        color: white;
        text-decoration: underline;
    }

    li.inactive a {
        color: color.scale(white, $lightness: -30%);
        cursor: not-allowed;
    }

    li:not(.inactive):not(.selected):hover {
        background-color: color.scale($blue, $lightness: +7.5%);

        a {
            text-decoration: underline dotted;
        }
    }
}

main {
    padding: 15px;
}

#error {
    background-color: color.scale($red, $lightness: +15%);
    color: white;
    border-color: $red;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

main {
    overflow: auto;
    grid-area: content;
}

main#input {
    textarea {
        width: 100%;
        height: calc(100% - 66.4px - 75px - 51.1667px);
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 5px;
        resize: none;
        padding: 5px;
        box-shadow: 0 0 1px 1px inset #555;
    }

    a {
        text-decoration: none;
        display: inline-block;
        background-color: $blue;
        color: white;
        padding: 10px;
        border: 1px solid $blue;
        float: right;
        margin: 15px;
        margin-right: 0px;
        border-radius: 5px;
        border: 1px solid color.scale($blue, $lightness: -15%);

        &:hover {
            text-decoration: underline;
        }
    }
}

main#ipsettings {
    .ipoption {
        box-sizing: border-box;
        margin-bottom: 15px;
        border: 1px solid black;
        padding: 15px;
    }

    .settingheader {
        display: grid;
        grid-template-columns: 1fr min-content;

        & h3 {
            margin-top: 10px;
        }
    }

    .button-box {
        justify-self: end;
    }

    .selected .button-box a {
        color: color.scale(white, $lightness: -30%);
        cursor: not-allowed;
        content: "Selected";
    }

    .button-box a {
        text-decoration: none;
        display: inline-block;
        background-color: $blue;
        color: white;
        padding: 10px;
        border: 1px solid $blue;
        float: right;
        border-radius: 5px;
        border: 1px solid color.scale($blue, $lightness: -15%);
    }

    .ipoption:not(.selected) .button-box a:hover {
        text-decoration: underline;
    }

    .form {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
}

main#teams {

}
